.avatar {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (max-width: 768px) {
  .avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
