.filterGenre {
  padding: 0.6em 2em 0.7em 0.8em;
  height: 2.5em;
  border-radius: 0.4em;
  background-color: transparent;
  color: var(--color-muted);
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid var(--color-line);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--color-muted);
    cursor: pointer;
  }

  & option {
    background-color: var(--form-color);
    color: var(--background-light);
  }
}
