/* .navbar {
  width: 100vw;
  padding: 0.8rem 2rem;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgba(44, 30, 27, 0.85);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--color-line);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  & .navbarLogo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    text-decoration: none;

    & h2 {
      font-size: 1.4rem;
      color: var(--background-light);
      letter-spacing: 1px;
    }

    & svg {
      color: var(--primary);
    }
  }

  .navbarLinks {
    & ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
    }

    & a {
      text-decoration: none;
      color: var(--background-light);
      font-weight: 500;
      transition: color 0.3s ease, transform 0.2s ease;
      font-size: 1rem;

      &:hover {
        color: var(--accent);
        transform: translateY(-2px);
      }

      &.active {
        color: var(--primary);
        font-weight: 600;
        border-bottom: 2px solid var(--primary);
        padding-bottom: 2px;
      }
    }
  }
}
 */
