.filterStatus {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  flex-wrap: wrap;
  gap: 1rem;
  list-style-type: none;
  border-bottom: 2px solid var(--background-dark);

  button {
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-muted);
    padding: 0.6em 0.8em 0.7em;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border: 1px solid transparent;
    transition: all 0.3s ease, border-bottom 0.1s ease;
  }

  button:hover,
  button.active {
    border-color: var(--primary);
    color: var(--primary-bright);
    border-bottom: 2px solid var(--primary-bright);
    background-color: var(--primary-dark);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 1px 1px 4px rgba(0, 0, 0, 0.6);
  }
}
